<!DOCTYPE html>
<html lang="en-AU">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <%- include('./partials/nav.ejs') %>
                <main>
                   
                </main>
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
    </body>
</html>
