<nav class="navmenu">
    <ul class="menuoptions">
        <li class="dropdown">
            <a class="dropbtn" href="/usermenu" style="min-width: 91px;">Home</a>
            <div class="dropdown-content">
                <a style="min-width: 91px;">My Profile</a>
                <a href="/" style="min-width: 91px;">Logout</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" style="min-width: 116px;">Uni Library</a>
            <div class="dropdown-content">
                <a href="/usermenu/browseBooks" style="min-width: 95px;" >Browse Library</a>
                <a href="/usermenu/returnbook" style="min-width: 95px;">Return Book</a>
            </div>
        </li>
    </ul>
</nav>
