<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link href="loginandregistration/css/loginandrego.css" rel="stylesheet"> 
        <title><%= title %></title>
    </head>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <main>
                </main>
            </div>
        </div>
    </body>
</html>