<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link href="loginandregistration/css/loginandrego.css" rel="stylesheet"> 
        <title><%= title %></title>
    </head>
    <body>
        <div class="tint">
            <div class="container">
                <h1>eLMS Login</h1>
                <form class="loginform" method="POST" action="/">
                    <input type="email" id="e-mail" name="Email" placeholder="Email" required> 
                    <input type="password" id="password" name="Password" placeholder="Password" required> 
                    <input id="loginbtn" type="submit" value="Login">
                    <a href="/registration">Don't have an account? Click here to sign up!</a>
                </form>
            </div>
        </div>
    </body>
</html>