<!DOCTYPE html>
<html>

    <head>
    
    <title>Borrow Books</title>
    
    </head>
    
    <body>
    
    
    <hr>
    
    <h1>Borrow Books from the library</h1>
    
    <h2>Select a book to borrow</h2>
    
    <hr> 

    <footer>
        <p>© SES Group 3</p>
        <a>Contact Us</a>
    </footer>
    
    </body>
    
</html>