<!DOCTYPE html>
<html>
    <head>
        <title>
            eLibrary Management System: Browse All Books
        </title>
        <link rel="stylesheet" href="BrowseBooks.css">
    </head>
    <body>
        <div id="tint">
            <div id="header">
                <h1>
                    Browse All Books
                </h1>
            </div>
            <!--Making search options-->
            <div id="subheader">
                <div id="searchoptions" >
                    <select id="searchby" name="filter">
                        <option selectDisabled>Select Filter....</option>
                        <option name="Title">Title </option>
                        <option name="Author">Author </option>
                        <option name="Genre">Genre </option>
                        <option name="Alphabetical">Alphabetical </option>
                    </select>
                    <input name="searchbar" type="text" placeholder="Search Books">
                    <input name="searchbutton" type="submit" value="Search">
                </div>
            </div>
            <div id="booklist">
                <!-- Add list using JS at a later stage -->
            </div>

            <footer>
                <p>© SES Group 3</p>
                <a href="#">Contact Us</a>
            </footer>
        </div>
    </body>
</html>