<!DOCTYPE html>

<html>
    <head>
        <title>eLibrary Management System</title>
        <link rel="stylesheet" type="text/css" href="views/loginStyle.css">
        <script src="../main/index.js" charset="utf-8"></script>
    </head>

    <body>
        <div id="tint">
        <div id="header">
            <h1>eLibrary Login</h1>
        </div>
        <form>
            <div id="loginContainer">
                <label>Staff/Student ID:</label>
                <input placeholder="UTS Staff/Student ID"/>
                <br />
                <label>Password:</label>
                <input placeholder="Password"/>
                <br />
                <div id="buttonContainer">
                    <button>Forgot Password?</button>
                    <button type="submit">Login</button>
                </div>
                <a href="/registration">Click here if you don't have an account!</a>
            </div>
        </form>
        <footer>
            <p>© SES Group 3</p>
            <a href="#">Contact Us</a>
        </footer>
        </div>
    </body>
</html>