<!DOCTYPE html>

<html>

    <head>
        <title>eLibrary Management System</title>
        <link rel="stylesheet" href="views/registrationStyle.css">
        <script defer src="../main/index.js" charset="utf-8"></script>
    </head>

    <body>
        <div id="tint">
        <div id="header">
            <h1>eLibrary Registration</h1>
        </div>
        <form action="/register" method="POST">
            <div id="loginContainer">
                <label for="userId">Staff/Student ID:</label>
                <input type="text" name="userId" placeholder="UTS Staff/Student ID" required/>
                <br />
                <label for="userId">Name:</label>
                <input type="text" name="Name" placeholder="Name" required/>
                <br />
                <label for="password">Password:</label>
                <input type="text" name="Password" placeholder="Password" required/>
                <br />
                <label for="email">Email:</label>
                <input type="email" name="Email" placeholder="Email" required/>
                <br />
                <div id="buttonContainer">
                    <input type="submit" value="Create Account"/>
                </div>
            </div>
        </form>
        <footer>
            <p>© SES Group 3</p>
            <a href="#">Contact Us</a>
        </footer>
        </div>
    </body>

</html>