<!DOCTYPE html>

<html>

    <head>
        <title>eLibrary Management System</title>
        <link rel="stylesheet" href="views/registrationStyle.css">
        <script defer src="../main/index.js" charset="utf-8"></script>
    </head>

    <body>
        <div id="tint">
        <div id="header">
            <h1>eLibrary Registration</h1>
        </div>
        <form>
            <div id="loginContainer">
                <label>Staff/Student ID:</label>
                <input placeholder="UTS Staff/Student ID"/>
                <br />
                <label>Password:</label>
                <input placeholder="Password"/>
                <br />
                <label>Email:</label>
                <input placeholder="Email"/>
                <br />
                <div id="buttonContainer">
                    <button type="submit">Create Account</button>
                </div>
            </div>
        </form>
        <footer>
            <p>© SES Group 3</p>
            <a href="#">Contact Us</a>
        </footer>
        </div>
    </body>

</html>