<!DOCTYPE html>
<html lang="en-AU">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <%- include('./partials/nav.ejs') %>
                <main>
                    <div class="container"> 
                        <h1>Update user info</h1>
                        <div class="formcontainer">
                            <form method="POST" class="data_form">
                                <p style="font-size: 1.3em; font-weight: bold; text-align: center;">
                                Update user details
                                </p>
                                <hr>
                                    <label for="userID">Change user's ID: </label><br>
                                    <input type="text" userID="userID" id="userID" placeholder="enter userID" required><br>

                                    <label for="name">Change user's full name: </label><br>
                                    <input type="name" name="name" id="name" placeholder="enter full name" required><br>

                                    <label for="email">Change user's email: </label><br>
                                    <input type="email" email="email" id="email" placeholder="enter email" required><br>

                                    <label for="type">Change user's type: </label><br>
                                    <input type="text" type="type" id="type" placeholder="enter a type" required><br>

                                    <label for="password">Change user's password: </label><br>
                                    <input type="password" password="password" id="password" placeholder="enter a password" required><br>
                            </form>
                        </div>
                    </div>
                    <input class="usersrecordbtn" type="submit" value="Update user's information" />
                </main>
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
    </body>
</html>