<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="adminmenu/css/admin.css" rel="stylesheet"> 
    <script src="/jquery/jquery.min.js"></script>
    <title><%= title %></title>
</head>
