<nav class="navmenu">
    <ul class="menuoptions">
        <li><a href="/" style="min-width: 90px;">Home</a></li>
        <li class="dropdown">
            <a class="dropbtn">Books Menu</a>
            <div class="dropdown-content">
                <a href="#" style="min-width: 95px;" >Book List</a>
                <a href="#" style="min-width: 95px;">Add Book</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" style="min-width: 90px;">Users Menu</a>
            <div class="dropdown-content">
                <a href="/viewusers" style="min-width: 91px;">User List</a>
            </div>
        </li>
    </ul>
</nav>
