<nav class="navmenu">
    <ul class="menuoptions">
        <li><a href="/adminmenu" style="min-width: 90px;">Home</a></li>
        <li class="dropdown">
            <a class="dropbtn">Books Menu</a>
            <div class="dropdown-content">
                <a href="/adminmenu/books" style="min-width: 95px;" >Book List</a>
                <a href="/adminmenu/book/add" style="min-width: 95px;">Add Book</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn" style="min-width: 90px;">Users Menu</a>
            <div class="dropdown-content">
                <a href="/adminmenu/users" style="min-width: 91px;">User List</a>
                <a href="/adminmenu/user/add" style="min-width: 91px;">Add User</a>
            </div>
        </li>
    </ul>
</nav>
