<nav class="navmenu">
    <ul class="menuoptions">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a class="dropbtn">Books Menu</a>
            <div class="dropdown-content">
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Users Menu</a>
            <div class="dropdown-content">
                <a href="/viewusers">User List</a>
                <a href="/adduser">Register User</a>
            </div>
        </li>
    </ul>
</nav>
