<nav class="navmenu">
    <ul class="menuoptions">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Books Menu</a>
            <div class="dropdown-content">
                <a href="#">Add Book</a>
                <a href="#">Remove Book</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Users Menu</a>
            <div class="dropdown-content">
                <a href="/viewusers">View Users</a>
                <a href="#">Add User</a>
            </div>
        </li>
    </ul>
</nav>
